[Unit]
Description=Dynamic Host Configuration Protocol (DHCP)
Wants=network.target systemd-udev-settle.service
Before=network.target
After=systemd-udevd.service systemd-udev-settle.service

[Service]
EnvironmentFile=@SYSCONFDIR@/default/dhcpcd
ExecStart=@SBINDIR@/dhcpcd-systemd-wrapper
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
